### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
# Created by .ignore support plugin (hsz.mobi)

trashsensor/local_settings.py
db.sqlite3
media
