{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Сенсор мусора</title>
    <link rel="stylesheet" href="{% static "css/vendor/bootstrap.min.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css">
    <link rel="icon"
          type="image/png"
          href="{% static "img/favicon.ico" %}">
</head>
<body>
<script src="{% static "js/jquery-1.11.3.js" %}"></script>
{% block content %}
{% endblock content %}

<!-- Bootstrap Core JavaScript -->
{#<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>#}
</body>
</html>