{% extends 'base.html' %}
{% block content %}
    <div class="content">
        <div class="sensors-wrap">
            <h2>В базе данных сенсоров: <span class="badge badge-success">{{ sensors | length }}</span></h2>
            {% for sensor in sensors %}
                <a class="sensor-item card" href="{% url 'sensor_page' sensor.sensor_id %}">
                    <div>id: {{ sensor.sensor_id }}</div>
                    <div>name: {{ sensor.name }}</div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}