{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="content">
        <div class="toolbar">
            <a class="home-btn" href="{% url 'home' %}">
            </a>
            <div class="title">
                Сенсор '{{ sensor.name }}'
            </div>
        </div>
        {% if data_sent %}
            <div class="alert alert-success">
                Данные с сенсора успешно отправлены!
            </div>
        {% endif %}
        <div class=" card">
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon">id датчика</span>
                    <input type="number" name="channel_id" class="form-control"
                           aria-label="Id for channel on thingspeak.com"
                           id="input-channel-id"
                           disabled
                           value="{{ sensor.sensor_id }}">
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">Объем</span>
                            <input type="number" name="volume" class="form-control"
                                   aria-label="Text input with checkbox"
                                   id="input-volume"
                                   min="0">
                            <span class="input-group-addon">%</span>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon">Температура</span>
                            <input type="number" name="temperature" class="form-control"
                                   aria-label="Text input with radio button"
                                   id="input-temperature">
                            <span class="input-group-addon">C</span>
                        </div>
                    </div>
                </div>
                <br/>
                <a id="a-thingspeak-channel" href="https://thingspeak.com/channels/{{ sensor.sensor_id }}" target="_blank">
                    Посмотреть данные с сенсора на thingspeak.com
                </a>
                <br/>
                <br/>
                <div class="input-group text-center">
                    <input type="submit" class="btn btn-primary btn-block" value="Отправить"/>
                </div>
            </form>
        </div>
    </div>
    <script>
        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min)) + min;
        }

        $(function () {
            var inputVolume = $("#input-volume");
            var inputTemp = $("#input-temperature");

            inputVolume.val(getRandomInt(0, 100));
            inputTemp.val(getRandomInt(-40, 40));
        })
    </script>
{% endblock %}